.NavItem {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bolder;
    color: #0F0F0F;
}

.NavItem:hover{
    color: red;
    cursor:pointer;
}

.NavBar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}